<div class="container-fluid table-wrapper">
    <h1>Orders Admin Page</h1>

    <mat-table #table [dataSource]="orders">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.id"></app-tooltip>
            </mat-cell>

        </ng-container>

        <ng-container matColumnDef="userId">
            <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.user_id"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.fullname"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.email"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.phone_number"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.address"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="note">
            <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.note"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderDate">
            <mat-header-cell *matHeaderCellDef> Order Date </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.order_date"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.status"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalMoney">
            <mat-header-cell *matHeaderCellDef> Total Money </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.total_money"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shippingMethod">
            <mat-header-cell *matHeaderCellDef> Shipping Method </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.shipping_method"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shippingAddress">
            <mat-header-cell *matHeaderCellDef> Shipping Address </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.shipping_address"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shippingDate">
            <mat-header-cell *matHeaderCellDef> Shipping Date </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.shipping_date"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paymentMethod">
            <mat-header-cell *matHeaderCellDef> Payment Method </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-tooltip [text]="element.payment_method"></app-tooltip>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="View Detail" (click)="viewDetails(element.id)">
                    <mat-icon>info</mat-icon> <!-- Icon "visibility" làm biểu tượng cho View Detail -->
                </button>
                <button mat-mini-fab aria-label="Example icon button with a delete icon"
                    (click)="deleteOrder(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" *ngIf="currentPage > 0">
                    <a class="page-link" (click)="onPageChange(0)">First</a>
                </li>
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
                </li>
                <ng-container *ngFor="let page of visiblePages">
                    <li class="page-item" [ngClass]="{'active': page === currentPage}">
                        <a class="page-link" (click)="onPageChange(page)">{{ page + 1 }}</a>
                    </li>
                </ng-container>
                <li class="page-item" *ngIf="currentPage < totalPages - 1">
                    <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
                </li>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
                </li>
            </ul>
        </nav>
    </div>

</div>