.dashboard-card {
  margin-bottom: 20px;
}

mat-card-header {
  background-color: #f1f1f1;
}

mat-card-title {
  font-weight: bold;
}

mat-card-content {
  font-size: 16px;
}

div {
  padding: 15px;
}

h3 {
  color: #3f51b5;
}

p {
  font-size: 14px;
  margin: 5px 0;
}
