<form [formGroup]="productProfileForm"
      class="example-form">

    <mat-card>

        <mat-card-title>Product Detail Admin</mat-card-title>

        <mat-card-content>

            <div class="form-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput
                           placeholder="Name"
                           formControlName="name" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Price</mat-label>
                    <input matInput
                           placeholder="Price"
                           formControlName="price" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                              placeholder="Description"
                              formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Category ID</mat-label>
                    <input matInput
                           placeholder="Category ID"
                           formControlName="category_id" />
                </mat-form-field>
            </div>

            <div *ngIf="product && product.productImages && product.productImages.length > 0"
                 class="thumbnail-container">
                <div *ngFor="let image of product.productImages"
                     class="image-container">
                    <img mat-card-image
                         [src]="image.image_url"
                         alt="Product Image"
                         [class.selected]="getImageName(image.image_url) === productProfileForm.value.thumbnail"
                         (click)="onThumbnailSelected(image)">
                </div>
            </div>


        </mat-card-content>


        <input type="file"
               class="file-input"
               (change)="onFileSelected($event)"
               #fileUpload
               multiple>

        <div class="file-upload">

            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab
                    color="primary"
                    class="upload-btn"
                    (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>


        <button mat-raised-button
                color="primary"
                class="update-btn"
                (click)="onUpdate()"
                [disabled]="productProfileForm.invalid">
            Update
        </button>

    </mat-card>

</form>