<form [formGroup]="categoryProfileForm"
      class="example-form">

    <mat-card>

        <mat-card-title>Create Category</mat-card-title>

        <mat-card-content>

            <div class="form-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput
                           placeholder="Name"
                           formControlName="name" />
                </mat-form-field>
            </div>


        </mat-card-content>

        <button mat-raised-button
                color="primary"
                class="create-btn"
                (click)="onCreate()"
                [disabled]="categoryProfileForm.invalid">
            Create
        </button>

    </mat-card>

</form>