@use '../../styles/shared-styles.scss' as *;

.container {
    color: white;
}
.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
.product-header {
    color: rgb(233, 66, 176);
}
.form-control {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(29, 33, 54);
    color: white;
}

.form-control:focus {
    border-color: white;
    background-color: rgb(19, 23, 42);
}
.form-label {
    color: white;
}
.product-header {
    color: rgb(233, 66, 176);
}
.product-order {
    color: $shopapp-title-color;
}
table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: rgb(12, 13, 54);    
}

th,
td {
    padding: 10px;
    text-align: center;
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: white;
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    color: white;
    border-radius: 30px;
    width: 200px;
  }

  /* Thông báo Giỏ hàng rỗng */
.alert-warning {
    background-color: rgb(19, 23, 42); /* Màu nền tối, phù hợp với giao diện */
    color: white; /* Màu chữ trắng */
    border: 1px solid rgb(29, 33, 54); /* Màu viền tối */
    padding: 20px; /* Khoảng cách trong thông báo */
    border-radius: 10px; /* Bo góc nhẹ */
    font-size: 30px; /* Kích thước chữ */
    margin-bottom: 20px; /* Khoảng cách dưới thông báo */
    text-align: center; /* Canh giữa nội dung thông báo */
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    margin-bottom: 50px;
}

/* Thêm hiệu ứng hover cho button áp dụng coupon */
.alert-warning:hover {
    background-color: rgba(233, 66, 177, 0.616); /* Chuyển màu khi hover */
    cursor: pointer;
}

/* Tùy chỉnh cho các phần tử con trong alert nếu cần */
.alert-warning .alert-text {
    font-weight: bold; /* Chữ đậm */
    font-size: 18px; /* Kích thước chữ lớn hơn một chút */
}
