<form [formGroup]="productProfileForm"
      class="example-form">

    <mat-card>

        <mat-card-title>Create Product</mat-card-title>

        <mat-card-content>

            <div class="form-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput
                           placeholder="Name"
                           formControlName="name" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Price</mat-label>
                    <input matInput
                           placeholder="Price"
                           formControlName="price" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                              placeholder="Description"
                              formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Category ID</mat-label>
                    <input matInput
                           placeholder="Category ID"
                           formControlName="category_id" />
                </mat-form-field>
            </div>


        </mat-card-content>

        <button mat-raised-button
                color="primary"
                class="update-btn"
                (click)="onCreate()"
                [disabled]="productProfileForm.invalid">
            Create
        </button>

    </mat-card>

</form>