/* file detail-category-admin.component.css */

.example-form {
  max-width: 600px;   /* Giới hạn chiều rộng form để không quá rộng */
  margin: 0 auto;     /* Căn giữa form trong dialog */
  padding: 16px;
  background-color: #fff;
  width: 500px;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: none;
  background-color: #fff;
}



mat-card-title {
  font-weight: 600;
  font-size: 30px;
  margin: 30px 0; /* Tạo khoảng cách đều phía trên và dưới */
  text-align: center;
  color: #333; /* Màu chữ tối để dễ đọc */
  letter-spacing: 1px; /* Tăng khoảng cách giữa các chữ để dễ đọc hơn */
  text-transform: capitalize; /* Chữ hoa đầu mỗi từ */
  font-family: 'Roboto', sans-serif; /* Sử dụng font đẹp và dễ đọc */
}


mat-card-content {
  flex-grow: 1;
  margin: 30px auto; /* Căn giữa theo chiều ngang */
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;     /* Căn giữa theo chiều dọc */
}


.form-fields {
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
}

.create-btn {
  align-self: center;
  width: 100px;
  margin: 10px 0 15px; /* Căn giữa và tạo khoảng cách đều */
  border-radius: 8px; /* Bo góc mềm mại */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
  font-weight: 600;
  font-size: 16px;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hiệu ứng hover */
.create-btn:hover:not(:disabled) {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Bóng đậm hơn khi hover */
  background-color: #f0f0f0cc; /* Màu nền nhạt hơn khi hover */
}

.create-btn:disabled {
  background-color: #e0e0e0; /* Nền xám khi disabled */
  box-shadow: none; /* Bỏ bóng khi disabled */
}

.cancel-btn {
  align-self: center;
  width: 100px;
  margin-top: 10px; /* Khoảng cách từ nút Update */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Đổ bóng nhẹ */
  font-weight: 600;
  font-size: 16px;
  background-color: #1976d2; /* Màu đỏ cho nút Cancel */
  color: white; /* Màu chữ trắng */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cancel-btn:hover {
  background-color: #1976d2ab; /* Đổi màu đỏ đậm khi hover */
  box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Bóng đậm hơn khi hover */
}
