<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h2 class="login-header">Đăng nhập</h2>
                <div class="form-group">
                    <label for="phoneNumber">Phone</label>
                    <input type="text"
                           class="form-control"
                           name="phoneNumber"
                           [(ngModel)]="phoneNumber"
                           required
                           #phoneNumberRef="ngModel"
                           id="phoneNumber">
                    <div class="divider-nospace"></div>
                    <p class="text-danger"
                       *ngIf="phoneNumberRef.touched && phoneNumber.length < 6">
                        Phone phải có ít nhất 6 kí tự
                    </p>
                </div>
                <div class="mt-5"></div>
                <div class="form-group password-field">
                    <label for="password">Mật khẩu</label>
                    <div class="input-wrapper">
                        <input type="password"
                               placeholder="Ít nhất 3 ký tự"
                               name="password"
                               [(ngModel)]="password"
                               class="form-control"
                               #passwordRef="ngModel"
                               id="password">
                        <i class="password-toggle fas fa-eye-slash"></i>
                    </div>
                    <div class="divider-nospace"></div>
                    <p class="text-danger"
                       *ngIf="passwordRef.touched && password.length < 3">
                        Mật khẩu phải có ít nhất 3 kí tự
                    </p>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="rememberMe"
                                   id="remember">
                            <label class="form-check-label text-start"
                                   for="remember">
                                Ghi nhớ đăng nhập</label>
                        </span>
                        <a href="#"
                           class="register-link">Quên mật khẩu</a>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control access-right"
                            [(ngModel)]="selectedRole">
                        <option selected
                                disabled>Quyền đăng nhập</option>
                        <option *ngFor="let role of roles"
                                [ngValue]="role">{{ role.name }}</option>
                    </select>
                </div>
                <button type="button"
                        (click)="login()"
                        class="login-button">Đăng nhập</button>
                <div class="divider"></div>
                <p class="text-center">Bạn chưa đăng ký? <span>
                        <a class="register-link"
                           routerLink="/register">Tạo
                            tài khoản</a></span></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>